#page-reason .commonInner-slider {
    width: calc(100% - 24px);
    max-width: 1160px;
    margin: auto;
}
#page-reason #reason .title-reason {
    padding-top: 100px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
    width: 100%;
    height: 230px;
    font-size: 40px;
    color: #1B5EC7;
    background: linear-gradient(to bottom, #E2ECFB, #F7F8FC);
    font-family:zen-maru-gothic, sans-serif !important
}
#page-reason #reason .title-reason::after {
    position: absolute;
    content: "";
    background-image: url(../images/top/icon_title.svg);
    width: 14px;
    bottom: 45px;
    left: calc(50% - 7px);
    height: 14px;
}
#page-reason {
    background: #F7F8FC;
}



#page-reason .box-slider .item-sdider {
 /* transition: 0.5s; */
 /* overflow: hidden; */
}
#page-reason .box-slider .item-sdider::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background: #F39393;
    left: calc(50% - 15px);
    bottom: 0px;
    transition: 0.5s;
    border-radius: 50%;
}
#page-reason .box-slider .item-sdider::before {
    position: absolute;
    content: "";
    background-image: url(../images/reason/reason_icon.svg);
    width: 16px;
    height: 14px;
    left: calc(50% - 7px);
    bottom: 10px;
    transition: 0.5s;
    z-index: 99;
}
#page-reason .box-slider .item-sdider.pc {
    width: calc(100%/3 - 66px);
}
#page-reason .box-slider .item-sdider.two::after {
    background: #E8D37B;
}
#page-reason .box-slider .item-sdider.three::after {
    background: #74DB9D;
}


#page-reason .box-slider .item-sdider:hover::after {
    bottom: -12px;
}

#page-reason .box-slider .item-sdider:hover::before {
    bottom: -7px;
}

#page-reason .box-slider .item-sdider  .image-p {
    display: block;
    overflow: hidden;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
#page-reason .box-slider .item-sdider  .image-p img {
    transition: 0.5s;
}
#page-reason .box-slider .item-sdider:hover .image-p img{
   transform: scale(1.1);
}

#page-reason .block-reason .inner-reason {
    max-width: 1240px;
    padding: 20px;
    margin: auto;
}
#page-reason .flex {
    display: flex;
    justify-content: space-between;
}

#page-reason #reason .item-sdider .dl-slider {
    padding: 65px 10px 25px 10px !important;
}

#page-reason .info-galary {
    margin: 0px 3px;
}

/* ----list-reason ------*/


#page-reason .list-reason {
    margin-bottom: 60px;
}
#page-reason .item-reason {
    width: calc(100%/3 - 60px);
}

#page-reason .dl-list {
    margin-top: 21px;
}



#page-reason .block-reason .dl-list .dt-list {
    font-size: 20px;
    color: #D9534F;
    margin-bottom: 15px;
    font-weight: 700;
}

#page-reason .dl-list .dd-list {
    font-size: 18px;
    line-height: 32px;
}


#page-reason #reason .slider {
    margin-bottom: 70px;
}

#page-reason .block-reason .title-block {
    margin-bottom: 200px;
    align-items: center;
    position: relative
}
#page-reason .block-reason .text-dt {
    width: calc(100% - 120px);
    color: #EB5050;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}
#page-reason .dt-number {
    align-items: center;
    margin-bottom: 30px;
    line-height: 26px;
}
#page-reason .dd-number {
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}
#page-reason .dl-number {
    width: 56%;
    padding-right: 30px;
}
#page-reason .title-block .img-box {
    width: 43%;
    position: absolute;
    right: 0px;
    top: 0px;
}
#page-reason .block-reason .title-block .number {
    width: 100px;
    height: 100px;
    background: #F39393;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
}
#page-reason .block-reason .title-block .number {
    font-family: dinosaur, sans-serif;
    color: white;
    font-weight: 700;
} 
#page-reason .title-block .number .en {
    font-size: 18px;

}

#page-reason .title-block .number .text-number {
    font-size: 30px;

}
/* ----box-meassge ------*/
#page-reason .box-meassge {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    /* border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    position: relative;
    padding: 55px 37px 70px 260px;
    border-radius: 20px;
    max-height: 268px;
}
  
#page-reason  .block-reason .box-meassge h2 {
    font-size: 20px;
    color: #EB5050;
    margin-bottom: 15px;
}

#page-reason  .block-reason .box-meassge .badge {
    background-color: #EB5050;
    color: #FFFFFF;
    padding: 0px 10px;
    /* border-radius: 4px; */
    font-size: 20px;
    margin-right: 15px;
}
#page-reason  .box-meassge .text {
    font-size: 18px;
    line-height: 32px;
}
#page-reason .image-wrapper {
    position: absolute;
    left: 60px;
    width: 136px;
    height: auto;
    top: 28px;
}
#page-reason #reason .item-sdider .number-reason {
    z-index: 99
}
#page-reason .block-reason .text-en {
    position: absolute;
    font-size: 40px;
    color: #FCE5E5;
    font-weight: 700;
    right: 37px;
    bottom: -2px;
    font-family: dinosaur, sans-serif;
}



#page-reason .block-reason:nth-child(2) .title-block .number {
    background: #E8D37B;
}

#page-reason .block-reason:nth-child(2) .text-dt {
    color: #E4A12F;
}


#page-reason .block-reason:nth-child(2) .dl-list .dt-list {
    color: #E4A12F;
}

#page-reason .block-reason:nth-child(2)  .box-meassge h2 {
    color: #E4A12F;
}

#page-reason .block-reason:nth-child(2) .box-meassge .badge {
    background-color: #E4A12F;
}

#page-reason .block-reason:nth-child(3) .title-block .number {
    background: #74DB9D;
}

#page-reason .block-reason:nth-child(3) .text-dt {
    color: #44B772;
}



#page-reason .block-reason:nth-child(3)  .box-meassge h2 {
    color: #44B772
}

#page-reason .block-reason:nth-child(3) .box-meassge .badge {
    background-color: #44B772
}

#page-reason .block-reason:nth-child(3) .text-en {
    color: #E5FCE5;
}

#page-reason .block-reason:nth-child(2) .text-en {
    color: #FCF1E5;
}


#page-reason .box-galary {
    background: #B9EDCE;
    padding: 20px 30px 20px 20px;
    border-radius: 20px;
    margin-bottom: 60px;
}
#page-reason .box-galary .list-galary  {
    padding-left: 10px;
}

#page-reason .box-galary .title-galary {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: white;
    border-radius: 30px;
    text-align: center;
    color: #44B772;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#page-reason .box-galary .item-galary {
   width: calc(50% - 10px);  
}

#page-reason .box-galary .info-box {
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    border-image: url(../images/reason/border2x.png) 84 0 / 84px 0px / 0rem round;
}
#page-reason .box-galary .item-left {
    margin-bottom: 3px;
}

#page-reason .box-galary .info-box .note {
    text-align: right;
}
#page-reason .box-galary .top-title {
    font-size: 20px;
    color: white;
    font-weight: 700;
    align-items: baseline;
}

#page-reason .box-galary .total-big {
    font-size: 30px;
}
/* Styling specific text */
#page-reason .box-galary  .info-box p {
    margin: 0; 
    font-size: 20px;
}
#page-reason .box-galary .age {
    margin-right: 10px;
}
#page-reason .box-galary  .info-box .total {
    font-size: 20px;
    margin-right: 8px;
}
#page-reason .box-galary  .info-box .total-samll {
    font-size: 16px;
}
#page-reason .box-galary  .info-box .note {
    font-size: 12px;
    margin-top: 5px;
    color: #e8f5e9; 
}


#page-reason .box-galary .left ,  #page-reason .box-galary .right{
    width: calc(50% - 10px);  
}

#page-reason .box-galary .text-galary {
    font-size: 16px;
    font-weight: 500;
}


#page-reason .block-reason:nth-child(1) {
    margin-bottom: 101px;
}

#page-reason .block-reason:nth-child(2) .title-block {
    margin-bottom: 135px;
}


#page-reason .block-reason:nth-child(2) {
    margin-bottom: 101px;
}



#page-reason .block-reason:nth-child(2) .title-block {
    margin-bottom: 130px;
}

#page-reason .block-reason:nth-child(3) .title-block {
    margin-bottom: 172px;
}

#page-reason .block-reason:nth-child(3) {
    margin-bottom: 115px;
}

#content #contentLayout #contentNav {
    background: #E2ECFB;
}

#page-reason #reason .dl-slider .dd-slider {
    display: none !important;
}

/* #page-reason .box-slider.mobi {
    display: none;
}
#page-reason .box-slider.destop {
    display:  block;
} */
@media (max-width: 767px) {
    /* #page-reason .box-slider.mobi {
        display:  block;
    }
    #page-reason .box-slider.destop {
        display: none;
    } */
    #page-reason #reason .dl-slider .dd-slider {
        display: block !important;
    }
    #page-reason .box-slider .item-sdider .image-p {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    #page-reason #reason .item-sdider .dl-slider {
        padding: 30px 10px 25px 10px !important;
    }
    #page-reason .box-slider .item-sdider::before,
    #page-reason .box-slider .item-sdider::after {
        display: none;
    }
    #page-reason .commonInner-slider {
        width: 100%;
    }
    #reason .slider__controls {
        display: flex;
        top: 28%;
    }
    .image-float {
        float: right;
    }
    #page-reason #reason .title-reason {
        padding-top: 50px;
        font-size: 25px;
        height: 140px;
    }
    #page-reason #reason .title-reason::after {
        bottom: 38px;
        transform: scale(0.7);
    }
    #page-reason .block-reason .title-block .number {
        width: 75px;
        height: 75px;
    }
    #page-reason #reason .item-sdider .dl-slider {

    }
    #page-reason .block-reason .text-dt {
        width: calc(100% - 90px);
        font-size: 16px;
        line-height: 26px;
    }
    #page-reason .title-block .number .en {
        font-size: 14px;
    }
    #page-reason .title-block .number .text-number {
        font-size: 20px;
    }
    #page-reason #reason .slider {
        margin-bottom: 35px;
    }
    #page-reason .dt-number {
        padding-left: 6px;
        margin-bottom: 10px;    
    }
    #page-reason .dd-number {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 13px;
    }
    #page-reason .block-reason .title-block {
        margin-bottom: 7px;
        padding: 0px 19px;
    }
    #page-reason .block-reason .dl-list .dt-list {
        font-size: 15px;
        margin-bottom: 8px;
    }
    #page-reason .dl-list .dd-list {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 17px;
    }


   /* ----box-meassge ------*/
    #page-reason .block-reason .inner-reason {
        max-width: 1240px;
        padding: 0px;
        margin: auto;
    }
    #page-reason .box-meassge {
        max-width: 94%;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        /* border: 1px solid #ddd; */
        border-radius: 20px;
        position: relative;
        padding: 17px 10px 15px 10px;
        max-height: unset;
    }
  
    #page-reason   h2 {
        font-size: 15px;
        color: #D9534F;
        margin-bottom: 10px;
    }
  
    #page-reason  .box-meassge .badge {
        background-color: #D9534F;
        color: #FFFFFF;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
    }
    #page-reason  .box-meassge .text {
        font-size: 15px;
        line-height: 27px;
    }
    #page-reason .image-wrapper {
        position: absolute;
        left: unset;
        width:68px;
        height: auto;
        top:unset;
        bottom: 8px;
        right: 7px;
    }
    #page-reason .text-en {
        font-size: 20px;
        right: 80px;
        bottom: 15px;
    }



    #page-reason .box-galary .list-galary,#page-reason .box-galary .top-title {
        flex-direction: column;
    }
    #page-reason .box-galary .info-box p {
        margin: 0;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    #page-reason .box-galary .info-box {
        height: auto;
    }
    #page-reason .box-galary .info-box .note {
        font-size: 12px;
        margin-top: 5px;
        color: #e8f5e9;
        text-align: center;
    }
    #page-reason .dl-number {
        width: 100%;
        padding-right: 0px;
    }
    #page-reason .title-block .img-box {
        position: relative;
        right: unset;
        top:unset;
        width: 100%;
    }
    #page-reason .title-block .img-box img {
        width: 100%;
    }
    #page-reason .title-block {
        margin-bottom: 200px;
        align-items: center;
        position: relative;
        flex-direction: column;
    }
    #page-reason .item-reason {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }
    #page-reason .item-reason .dl-list {
        order: 1;
    }
    #page-reason .item-reason .img-box {
        order: 2;
    }
    #page-reason .list-reason {
        flex-direction: column;
        margin-bottom: 17px;
        padding: 0px 19px;
    }
    #page-reason .block-reason .box-meassge .badge {
        padding: 0px 5px;
        border-radius: 0px;
        font-size: 15px;
        margin-right: 7px;
    }
    #page-reason .block-reason .text-en {
        font-size: 20px;
        right: 75px;
        bottom: 3px;
    }
    #page-reason .box-galary .info-box {
        border-radius: 10px;
        padding: 8px 20px;
        display: inline-block;
        width: 100%;
        height: 89px;
        margin-bottom: 8px;
        border-image: url(../images/reason/border2x_sp.png) 89 0 / 84px 0px / 0rem round;
    }
    #page-reason .block-reason .box-meassge h2 {
        font-size: 15px;
        color: #D9534F;
        margin-bottom: 5px;
    }
    #page-reason .box-galary .info-box .total-samll {
        font-size: 13px;
        margin-left: 4px;
    }
    #page-reason .box-galary .left, #page-reason .box-galary .right {
        width: calc(50% - 5px);
    }
    #page-reason .block-reason:nth-child(1) {
        margin-bottom: 61px;
    }
    #page-reason .block-reason:nth-child(2) .title-block {
        margin-bottom: 10px;
    }
    #page-reason .block-reason:nth-child(2) {
        margin-bottom: 58px;
    }
    #page-reason .block-reason:nth-child(3) .title-block {
        margin-bottom: 30px;
    }
    #page-reason .box-galary .title-galary {
        width: 122px;
        height: 22px;
        line-height: 22px;
        border-radius: 30px;
        font-size: 15px;
        margin-bottom: 15px;
    }
    #page-reason .box-galary .info-box p {
        font-size: 15px;
        text-align: center;
    }
    #page-reason .box-galary .info-box .total {
        font-size: 15px;
        margin-right: 0px;
    }
    #page-reason .box-galary .total-big {
        font-size: 20px;
        margin-left: 10px;
    }
    #page-reason .box-galary .text-galary {
        font-size: 12px;
    }
    #page-reason .box-galary .list-galary {
        padding-left: 0px;
    }
    #page-reason .block-reason:nth-child(3) {
        margin-bottom: 58px;
    }
    #page-reason .box-galary {
        padding: 10px 15px 0px 15px;
        border-radius: 10px;
         max-width: calc(100% - 24px); 
        margin: 0px 12px 0px 12px;
        margin-bottom: 30px;
  

    }
    #page-reason .box-galary .item-galary {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 374px) {
    /* #page-reason .box-meassge  {
        max-width: 296px;
    } */
    #page-reason .box-meassge .text {
        font-size: 12px;
        line-height: 24px;
      
    }
    #page-reason .block-reason .box-meassge h2 {
        font-size: 12px;
        color: #D9534F;
        margin-bottom: 10px;
    }
    #page-reason .box-galary .info-box {
        border-image: url(../images/reason/border2x_sp.png) 85 0 / 85px 0px / 0rem round;
    }
    #page-reason .block-reason .text-dt {
        font-size: 12px;
    }
    #page-reason .box-galary .text-galary {
        font-size: 9px;
    }
    .image-float {
        width: 55px;
    }
}














